# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# Python Packaging
*.egg-info/
dist/
build/
*.egg

# ==========================================
# Jupyter Notebook
# ==========================================
.ipynb_checkpoints/

# ==========================================
# Dataset Files
# ==========================================
data/raw/
data/processed/

# ==========================================
# MLflow
# ==========================================
mlruns/
mlflow.db

# ==========================================
# IDE Files
# ==========================================

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# ==========================================
# Operating System Files
# ==========================================

# macOS
.DS_Store

# Windows
Thumbs.db

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Cache Files
# ==========================================
.pytest_cache/
.mypy_cache/

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.temp